.section {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

:root {
    --main-text-color: white;
    --navbar-color: #2980b977;
    --bg-color-overlay: #00492d81;
}

html,
body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif
}

#header {
    width: 100%;
    background: var(--navbar-color);
    position: fixed;
    box-sizing: border-box;
    z-index: 1;
}

#nav {
    font-size: 4vh;
    float: right;
    margin: auto;
}

#nav ul {
    list-style: none;
    margin: auto;
}

#nav li {
    float: left;
    padding-right: 3vw;
}

#nav li a {
    color: var(--main-text-color);
    opacity: 0.75;
    text-decoration: none;
}

#nav li a.active {
    color: var(--main-text-color);
    opacity: 1;
    border-bottom: 2px solid var(--main-text-color);
}

#nav li a:hover {
    color: var(--main-text-color);
    opacity: 1;
}

#about {
    background: url("space-background.jpg") fixed;
    background-size: cover;
    height: 100vh;
}

#quotes {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 20vh;
    padding-bottom: 20vh;
    color: #fefefe;
    box-sizing: border-box;
    text-shadow: -2px 3px black;
    background-image: linear-gradient(var(--bg-color-overlay), var(--bg-color-overlay)), url("idea-background.jpg");
    background-attachment: fixed;
    background-size: cover;
}

#gallery {
    background-size: cover;
    height: 100vh;
    background-image: linear-gradient(var(--bg-color-overlay), var(--bg-color-overlay)), url("gallery.jpeg");
    background-attachment: fixed;
    background-size: cover;
}

#games {
    background-size: cover;
    height: 100vh;
    background-image: linear-gradient(var(--bg-color-overlay), var(--bg-color-overlay)), url("games.jpeg");
    background-attachment: fixed;
    background-size: cover;
}

.quote {
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
    padding: 5%;
    display: block;
}

.main-quote {
    text-align: center;
    width: 100%;
    font-size: 8vh;
}

.left-quote {
    width: 40%;
    font-size: 4vh;
    float: left;
}

.right-quote {
    width: 40%;
    font-size: 4vh;
    float: right;
}

.main-tosko {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}

#gallery {
    height: 100vh;
    position: relative;
}

#gallery-image {
    display: block;
    margin: auto;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    max-height: 90vh;
}

#gallery-video {
    display: block;
    margin: auto;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

#gallery-prev {
    display: block;
    float: left;
    width: 15vh;
    height: 15vh;
    position: absolute;
    top: 50%;
    left: 0%;
    padding-left: 4vh;
}

#gallery-next {
    display: block;
    float: right;
    width: 15vh;
    height: 15vh;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateX(-100%);
    padding-right: 4vh;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 20vw);
    grid-gap: 5vw;
    color: #444;
    margin-left: 15vw;
    margin-right: 15vw;
    padding-top: 8vh;
    width: 70vw;
}

.gamethumb {
    box-sizing: border-box;
    background-origin: content-box;
    height: 20vw;
    width: 20vw;
    position: relative;
    border: 5px solid var(--navbar-color);
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    overflow: hidden;
    width: 600px;
    height: 600px;
    margin: auto auto;
    padding: 20px;
    z-index: 3;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}